{
  "presets": ["@babel/preset-env"],
  "sourceMap": "inline",
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"],
    }]
  ]
}
