
DEBUG=example:*
NAMESPACE=example

SERVER_PORT=3001
SERVER_PUBLIC_URL="http://localhost:3001"
SERVER_SESSION_SECRET="keyboard cat"

DB_NAME=example
DB_USER=root
DB_PASS=password
DB_HOST=127.0.0.1
DB_PORT=3306
DB_LOG=false
DB_CLEAN=false

MICROSOFT_CLIENT_ID="..."
MICROSOFT_CLIENT_SECRET="..."

DOCKER=true
